bin/
dist/
tmp/
*.exe
*.out
*.log
*.tmp
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.prof
*.trace
*.cover
*.dll
*.so
*.dylib
.cache/
vendor/
.env
.env.local
.idea/
.vscode/
/go-build/
/go/pkg/
config.local.*